<!DOCTYPE HTML>

<html>

	<head>
		<title>NCA JAVA2</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</head>

	<body class="is-preload">

		<section class="wrapper style1 align-center">
			<div class="inner">
				<div class="index align-left">
					<section>
						<header>
							<h3>ログイン</h3>
						</header>
						<div class="content">
							<form method="post" action="/menu">
								<div class="fields">
									<div class="field half">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" value="" />
									</div>
									<div class="field half">
										<label for="password">パスワード</label>
										<input type="password" name="password" id="password" value="" />
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" name="submit" id="submit" value="ログイン" /></li>
								</ul>
							</form>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>

	</body>
</html>
