<!DOCTYPE HTML>

<html>

	<head>
		<title>NCA JAVA2</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</head>

	<body class="is-preload">

		<section class="wrapper style1 align-center">
			<div class="inner">
				<div class="index align-left">
					<section>
						<header>
							<h3>メニュー</h3>
						</header>
						<div class="content">
							<ul class="actions">
								<li><a href="/add" class="button large">新規登録</a></li>
								<li><a href="/search" class="button large">検索</a></li>
							</ul>
							<hr />
							<ul class="actions">
								<li><a href="/login" class="button primary">ログアウト</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>

	</body>
</html>
